{% extends 'base.html.twig' %}

{% block title %}Participante index{% endblock %}

{% block body %}
    <h1>Participante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participante in participantes %}
            <tr>
                <td>{{ participante.id }}</td>
                <td>{{ participante.Nombre }}</td>
                <td>{{ participante.Apellidos }}</td>
                <td>
                    <a href="{{ path('app_participante_show', {'id': participante.id}) }}">show</a>
                    <a href="{{ path('app_participante_edit', {'id': participante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participante_new') }}">Create new</a>
{% endblock %}
