{% extends 'layout.html.twig' %}

{% block title %}Audio index{% endblock %}

{% block contenido %}
    <h2 class="mb-4">Audios</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Enlace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audio in audio %}
            <tr>
                <td>{{ audio.Descripcion }}</td>
                <td>{{ audio.Tipo }}</td>
                <td>{{ audio.Enlace }}</td>
                <td>
                    <a href="{{ path('app_audio_show', {'id': audio.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/></svg></a>
                    <a href="{{ path('app_audio_edit', {'id': audio.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14.078 7.061l2.861 2.862-10.799 10.798-3.584.723.724-3.585 10.798-10.798zm0-2.829l-12.64 12.64-1.438 7.128 7.127-1.438 12.642-12.64-5.691-5.69zm7.105 4.277l2.817-2.82-5.691-5.689-2.816 2.817 5.69 5.692z"/></svg></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_audio_new') }}">Create new</a>
{% endblock %}
