{% extends 'layout.html.twig' %}

{% block title %}Audio{% endblock %}

{% block contenido %}
    <h1>Audio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audio.id }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ audio.Descripcion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ audio.Tipo }}</td>
            </tr>
            <tr>
                <th>Enlace</th>
                <td>{{ audio.Enlace }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_audio_index') }}">Volver a la lista</a>

    <a href="{{ path('app_audio_edit', {'id': audio.id}) }}">Editar</a>

    {{ include('audio/_delete_form.html.twig') }}
{% endblock %}
